<div>
  <p>L'élement avec le moins bon impact est
    {{worstImpactor.name}}, avec un impact de
    {{worstImpactor.impact}}
    {{worstImpactor.unit}}.</p>
  <p>L'élément
    {{otherImpactor.name}}
    a lui un impact de
    {{otherImpactor.impact}}
    {{otherImpactor.unit}}</p>
</div>