<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
  </head>
  <body>
    {{#if error}}
      An error occurred
    {{else}}
      <ul>
        {{#each items}}
          <li>{{nom_base_français}} {{nom_attribut_français}} {{nom_frontière_français}} : {{total_poste_non_décomposé}} {{unité_français}}</li>
        {{/each}}
      </ul>
    {{/if}}

    <script
      src='https://unpkg.com/htmx.org@1.9.3'
      integrity='sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua'
      crossorigin='anonymous'
    ></script>
  </body>
</html>
